body {
    font-family: Arial, Helvetica, sans-serif;
}

table, form {
    width: 80%;
    border: 1px solid #ddd;
    margin: 50px auto;
    border-collapse: collapse;
    text-align: center;
}

table thead {
    text-transform: uppercase;
}

table tbody tr:nth-child(even) {
    background-color: #eeeeee;
}

table tr {
    cursor: pointer;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:hover {
    background-color: #bdbdbd;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
}

form label {
    display: flex;
    width: 400px;
    margin: auto;
    text-align: right;
    justify-content: space-between;
}

form label input {
    width: 270px;
}